<div id="page-wrapper">
	<div class="page-content">
		<!-- begin PAGE TITLE AREA -->
		<div class="row">
			<div class="col-lg-12">
				<div class="page-title">
					<h1>Main Page
					<small>work in progress</small></h1>
				</div>
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<!-- /.row -->
		<!-- end PAGE TITLE AREA -->

		<div class="row">
			<div class="col-lg-12">
				<div class="portlet portlet-default">
					<div class="portlet-heading">
						<div class="portlet-title">
							<h4>4 generaties</h4>
						</div>
						<div class="clearfix"></div>
					</div>

					<div class="portlet-body">
							<div class="row show-grid">
								<div class="col-md-12 ks-gen1">
									<div class="row show-grid">
										<div class="col-lg-12">
											<a href='gen3?root=<%= kwartier.i1.name %>'><%= kwartier.i1.name %></a> °<%= kwartier.i1.birth.place %> <%= kwartier.i1.birth.date %>
										</div>
									</div>
									<div class="row show-grid">
										<div class="col-md-6 ks-gen2">
											<div class="row show-grid">
												<div class="col-lg-12">
													<a href='gen3?root=<%= kwartier.i2.name %>'><%= kwartier.i2.name %></a>
												</div>
											</div>
											<div class="row show-grid">
												<div class="col-lg-6">
													<div class="row show-grid">
														<div class="col-md-12 ks-gen3">
															<a href='#'><%= kwartier.i4.name %></a>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6 ks-gen4">
															<a href='#'><%= kwartier.i8.name %></a>
														</div>
														<div class="col-md-6 ks-gen4">
															<a href='#'><%= kwartier.i9.name %></a>
														</div>
													</div>													
												</div>
												<div class="col-lg-6">
													<div class="row show-grid">
														<div class="col-md-12 ks-gen3">
															<a href='#'><%= kwartier.i5.name %></a>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6 ks-gen4">
															<a href='#'><%= kwartier.i10.name %></a>
														</div>
														<div class="col-md-6 ks-gen4">
															<a href='#'><%= kwartier.i11.name %></a>
														</div>
													</div>														
												</div>
											</div>
										</div>
										<div class="col-md-6 ks-gen2">
											<div class="row show-grid">
												<div class="col-lg-12">
													<a href='#'><%= kwartier.i3.name %></a>
												</div>
											</div>
											<div class="row show-grid">
												<div class="col-lg-6">
													<div class="row show-grid">
														<div class="col-md-12 ks-gen3">
															<a href='#'><%= kwartier.i6.name %></a>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6 ks-gen4">
															<a href='#'><%= kwartier.i12.name %></a>
														</div>
														<div class="col-md-6 ks-gen4">
															<a href='#'><%= kwartier.i13.name %></a>
														</div>
													</div>														
												</div>
												<div class="col-lg-6">
													<div class="row show-grid">
														<div class="col-md-12 ks-gen3">
															<a href='#'><%= kwartier.i7.name %></a>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6 ks-gen4">
															<a href='#'><%= kwartier.i14.name %></a>
														</div>
														<div class="col-md-6 ks-gen4">
															<a href='#'><%= kwartier.i15.name %></a>
														</div>
													</div>														
												</div>
											</div>											
										</div>
									</div>
								</div>
							</div>
					</div>					

					<div class="portlet-footer">
                        Portlet Footer
                    </div>
				</div>
			</div>
			<!-- /.col-lg-12 -->
		</div>
	</div>
	<!-- /.page-content -->
	</div>